$bad-color: #4E2C73;
$good-color: #8CA336;
$neutral-color: #AAA239;
$light-text-color: #226666;
$dark-text-color: #AA8439;


$box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);